<html>

<head>
<title>Smart Start</title>
</head>

<body>
<h1 id='bigOne'></h1>
<script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAehAyrs62Vpdjr8fdNa8qappI821bqu-A",
    authDomain: "smart-start-10a9a.firebaseapp.com",
    databaseURL: "https://smart-start-10a9a.firebaseio.com",
    projectId: "smart-start-10a9a",
    storageBucket: "",
    messagingSenderId: "397921623434"
  };
  firebase.initializeApp(config);
  
  var bigOne = document.getElementById('bigOne');
  var dbRef = firebase.database().ref().child('text');
  dbRef.on('value', snap = > bigONe.innerText = snap.val());
</script>

</body>
</html>
